[SddmGreeterTheme]
Name=Elementary
Author=zayronxio
Copyright=(c) 2025, zayronxio
License=gpl3.0
Type=sddm-theme
Version=0.1
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=Elementary
QtVersion=6
